<div class="centered-content">
  <div class="login-box">

    <h1 class="title has-text-primary">Login</h1>
    <div class="field">
      <p class="control has-icons-left">
        <input #userUsernameInput class="input has-background-light" type="username" placeholder="Username">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #userPasswordInput class="input has-background-light" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field is-pulled-left">
      <p class="control">
        <button class="button is-success has-text-white" routerLink="/new-user"> Create Account </button>
      </p>
    </div>
    <div class="field is-pulled-right">
      <p class="control">
        <button class="button is-success has-text-white"
          (click)="logInUser(userUsernameInput.value, userPasswordInput.value)"> Login </button>
      </p>
    </div>
  </div>
</div>