<div class="centered-content">
    <div class="main-container">
      <div class="side-bar has-background-white">
        <h1 class="title has-text-primary">QUIZZ APP</h1>
  
        <div class="app-menu">
          <a class="app-menu-item" routerLink="/home">
            HOME
          </a>
          <a class="app-menu-item" routerLink="/published-questions">
            Published Questions
          </a>
          <a class="app-menu-item" routerLink="/unpublished-questions">
            Unpublished Questions
          </a>
          <a class="app-menu-item is-active">
              Create Question
            </a>
          <a class="app-menu-item" routerLink="/login">
            Admin Panel
          </a>
        </div>
  
        <button class="button is-primary has-text-white" routerLink="/login">LOGOUT</button>
      </div>
      <div class="main-list-container">
        <h1 class="title has-text-primary">
          Currently under development
          <button class="button is-primary has-text-white" style="margin-left: 20px;" routerLink="/questions-list">Manage Questions</button>
        </h1>
        <p class="empty-state-text has-text-left">
          This page is currently under our team development. <b>It will be delivered in the next days</b>
        </p>
      </div>
    </div>
  
  
  </div>