<div class="centered-content">
  <div class="main-container">
    <div class="side-bar has-background-white">
      <h1 class="title has-text-primary">QUIZZ APP</h1>

      <div class="app-menu">
        <a class="app-menu-item is-active">
          Admin Panel
        </a>
        <a class="app-menu-item" routerLink="/home">
          HOME
        </a>
        <a class="app-menu-item" routerLink="/published-questions">
          Published Questions
        </a>
        <a class="app-menu-item" routerLink="/unpublished-questions">
          Unpublished Questions
        </a>
      </div>

      <button class="button is-primary has-text-white" routerLink="/login">LOGOUT</button>

    </div>
    <div class="main-list-container">
      <h1 class="title has-text-primary">
        ADMIN PANEL
      </h1>
      <div class="control-content">
        <div class="control-box">
          <div class="field is-pulled-left">
            <p class="control">
              <button class="button is-success has-text-white" routerLink="/users-list"> Manage Users </button>
            </p>
          </div>

          <div class="field is-pulled-right">
            <p class="control">
              <button class="button is-success has-text-white" routerLink="/questions-list"> Manage Questions </button>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>