<div class="centered-content">
  <div class="task-manager-container">

    <div class="task-list-container has-background-light">
      <div class="top-bar">
        <h1 class="title has-text-primary">
          Unpublished Questions
        </h1>
        <button class="button is-primary has-text-white" style="margin-right: 15px;" routerLink="/new-question">Create a
          new Question</button>
        <button class="button is-primary has-text-white" routerLink="/admin-page">Go back</button>

      </div>

      <!-- Task elements ngClass allows us to put classes on elements -->
      <div class="main-questions" *ngFor="let question of questions" [ngClass]="{'published':question.published}">

        <div class="question-text">
          <p>{{question.title}}</p>
        </div>
        <div *ngIf="question.published===true">
          <h3 class="empty-state-text" style="margin-right: 15px;"> PUBLISHED !!</h3>
        </div>
        <div *ngIf="question.published===false">
          <h3 class="empty-state-text" style="margin-right: 15px;"> NOT published </h3>
        </div>
        <div class="task-buttons">
          <button class="button is-primary" style="margin-right: 15px;" (click)=onQuestionPublishedClick(question)>
            <div class="icon">
              <i class="fas fa-arrow-circle-up">
              </i>
            </div>
          </button>

          <button class="button" style="margin-right: 15px;">
            <div class="icon">
              <i class="fas fa-edit">
              </i>
            </div>
          </button>

          <button class="button is-danger" (click)=onQuestionDeleteClick(question._id)>
            <div class="icon">
              <i class="fas fa-trash"></i>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>