// This is where we put global stlyes and change variables values

@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700");

$dark-blue: #373b44;
$blue: #4286f4;
$white: #ffffff;
$light-green: #45f68e;
$dark-green: rgb(0, 100, 80);

$light: #f8f8f8;

// Update Bulma's global variables
$family-sans-serif: "Nunito", "san-serif";
$primary: $white;

$link: $light-green;

// Update some Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Set custom global styles (will be applied to the whole app)

html {
  background: linear-gradient(to right top, $dark-blue, $blue);
}

html,
body {
  height: 100%;
}

// We paste this style here because is globlally use for al the .html components
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.modal-box {
  min-height: 200px;
  width: 100%;

  max-width: 600px;
  background: white;

  border-radius: 5px;

  padding: 35px;
}

.title {
  font-family: "Lato";
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subtitle {
  font-family: "Lato";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.white-box {
  padding: 35px;
  background: white;
  border-radius: 5px;

  width: 350px;
  max-width: 350px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.main-container {
  display: flex;

  height: 100%;
  width: 100%;
  max-width: 1000px;
  max-height: 680px;
}

.side-bar {
  display: flex;
  flex-direction: column;

  width: 250px;
  background: white;

  padding: 42px;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.main-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background: $light;
  padding: 42px;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  .top-bar {
    margin-bottom: 20px;
    display: flex;
    .title {
      flex-grow: 1;
      margin: 0;
    }
  }
}

.app-menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;

  .app-menu-item {
    display: flex;

    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;

    width: 200px;
    color: #5f5f5f;
    margin-bottom: 5px;

    &:hover {
      background: $light;
    }

    &.is-active {
      background-color: #cff8ef;
      color: $dark-green;
    }
  }
}

.empty-state-text {
  font-size: 20px;
  color: #777;
  text-align: center;
}

.main-questions {
  display: flex;
  background: white;
  padding: 15px 20px; // Top and Bottom -- Left and Right
  border-radius: 5px;
  margin-top: 10px;

  color: black;

  align-items: center;
  // If not complete we can choose -- Clickable animations and transitions with hoover.
  &:not(.completed) {
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease, opacity 0.2s;
    &:hover {
      box-shadow: 0 0 0 5px #eeeeee;

      .task-buttons-edit {
        opacity: 1;
        transform: scale(0.8);
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  // If completed we cannot do
  &.completed {
    text-decoration: line-through;
    opacity: 0.6;

    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease, opacity 0.2s;
    &:hover {
      box-shadow: 0 0 0 5px #eeeeee;

      .task-buttons-delete {
        opacity: 1;
        transform: scale(0.8);
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .question-text {
    display: flex;
    flex-grow: 1;
  }

  .question-buttons {
    transition: opacity 0.2s, transform 0.2s;
    opacity: 0;
    transform: scale(0.5);
  }
}

