@import "../../../main-styles.scss";

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.task-manager-container {
  display: flex;

  height: 100%;
  width: 100%;
  max-width: 1000px;
  max-height: 680px;
}

.task-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 42px;

  border-radius: 8px;

  .top-bar {
    margin-bottom: 20px;
    display: flex;
    .title{
      flex-grow: 1;
      margin: 0;
    }
  }
}

.title {
  font-family: "Lato";
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.questions-buttons {
  border-spacing: 10px;
}

