<div class="centered-content">
  <div class="task-manager-container">

    <div class="task-list-container has-background-light">
      <div class="top-bar">
        <h1 class="title has-text-primary">
          User of Quizz App
        </h1>
        <button class="button is-primary has-text-white" routerLink="/admin-page">Go back</button>

      </div>

      <!-- Task elements ngClass allows us to put classes on elements -->
      <div class="main-questions" *ngFor="let user of users">
        <div class="question-text">
          <p>{{user.username}}, {{user.firstname}}, {{user.lastname}}, {{user.phone}}, role:{{user.roles}}</p>
        </div>
        <div class="task-buttons">
          <button class="button is-danger" (click)=onUserDeleteClick(user._id)>
            <div class="icon">
              <i class="fas fa-trash"></i>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>