<div class="centered-content">
  <div class="new-user-box">

    <h1 class="title has-text-primary">Create your new account</h1>
    <div class="field">
      <p class="control has-icons-left">
        <input #userUsernameInput class="input has-background-light" type="username" placeholder="Username" required>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #userPasswordInput class="input has-background-light" type="password" placeholder="Password" required>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #userFirstUserNameInput class="input has-background-light" type="firstname" placeholder="First name">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #userLastNameInput class="input has-background-light" type="lastname" placeholder="Last name">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #userPhoneInput class="input has-background-light" type="phone" placeholder="Phone">
        <span class="icon is-small is-left">
          <i class="fas fa-phone"></i>
        </span>
      </p>
    </div>

    <div class="field is-pulled-right">
      <p class="control">
        <button class="button is-success has-text-white" (click)="createUser(userUsernameInput.value, userPasswordInput.value, userFirstUserNameInput.value, 
          userLastNameInput.value, userPhoneInput.value)">
          <span class="icon is-small is-left">
            <i class="fas fa-user-plus"></i>
          </span>
        </button>
      </p>
    </div>
    <div class="field is-pulled-left">
        <p class="control">
          <button class="button is-success has-text-white" routerLink="/login">Go back
          </button>
        </p>
      </div>

  </div>
</div>