<div class="centered-content">
  <div class="task-manager-container">

    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Quizz App
      </h1>
      <div class="app-menu">
        <a class="app-menu-item" routerLink="/home">
          HOME
        </a>
        <a class="app-menu-item is-active">
          Published Questions
        </a>
        <a class="app-menu-item" routerLink="/unpublished-questions">
          Unpublished Questions
        </a>
        <a class="app-menu-item" routerLink="/login">
          Admin Panel
        </a>
      </div>
      <button class="button is-primary has-text-white" routerLink="/login">LOGOUT</button>
    </div>

    <div class="task-list-container has-background-light">
      <div class="top-bar">
        <h1 class="title has-text-primary">
          Published Questions
        </h1>
      </div>

      <!-- Task elements ngClass allows us to put classes on elements -->
      <div class="main-questions" *ngFor="let question of questionsPublished">
        <div class="question-text">
          <p>{{question.title}}</p>
        </div>
      </div>
    </div>
  </div>
</div>