<div class="centered-content">
  <div class="main-container">
    <div class="side-bar has-background-white">
      <h1 class="title has-text-primary">QUIZZ APP</h1>

      <div class="app-menu">
        <a class="app-menu-item is-active">
          HOME
        </a>
        <a class="app-menu-item" routerLink="/published-questions">
          Published Questions
        </a>
        <a class="app-menu-item" routerLink="/unpublished-questions">
          Unpublished Questions
        </a>
        <a class="app-menu-item" routerLink="/login">
          Admin Panel
        </a>
      </div>

      <button class="button is-primary has-text-white" routerLink="/login">LOGOUT</button>
    </div>
    <div class="main-list-container">
      <h1 class="title has-text-primary">
        Welcome to Quizz App !!
      </h1>
      <p class="empty-state-text has-text-left">
        Hello and welcome to the <b>Quizz App Game</b>, with our questions you will enter in a whole new level of knowledge.
      </p>
      <br><br>
      <p class="empty-state-text has-text-left">
        To start please go to <b>Published Questions</b>, there you can access and answer our most difficult questions
      </p>
      <br><br>
      <p class="empty-state-text has-text-left">
        You can see our future quizz challenges on <b>Unpublished Questions</b>
      </p>
    </div>

  </div>


</div>